@page "/participantes-lista"
@using SNashENGINE.Share.DTOs.Participantes

@* @attribute [StreamRendering] *@
@rendermode InteractiveAuto


<a href="participante-crear" class="btn btn-outline-primary">Crear</a>

<header>
    <h1>Registro de participantes</h1>
</header>

<EditForm method="post" Model="ParticipanteDTO" OnValidSubmit="AlSometerForm" FormName="RegistroParticipantes">
    <DataAnnotationsValidator />
    <div>
        <label for="nombre">Nombre:</label>
        <InputText @bind-Value="ParticipanteDTO.Nombre" id="nombre" class="form-control" />
        <small><ValidationMessage For="@(() => ParticipanteDTO.Nombre)" /></small>
    </div>
    <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" class="formInput">
    </div>
    <div>
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento">
    </div>
    <div>
        <label for="sexo">Sexo:</label>
        <input type="radio" id="masculino" name="sexo" value="Masculino">
        <label for="masculino">Masculino</label>
        <input type="radio" id="femenino" name="sexo" value="Femenino">
        <label for="femenino">Femenino</label>
    </div>
    <div>
        <label for="equipo">Equipo:</label>
        <select id="equipo" name="equipo" class="formInput">
            <option value="Equipo A">Equipo A</option>
            <option value="Equipo B">Equipo B</option>
            <option value="Equipo C">Equipo C</option>
            <option value="Equipo D">Equipo D</option>
        </select>
    </div>
    <input type="submit" value="Enviar">
    <input type="reset" value="limpiar">
    <ValidationSummary />
</EditForm>

@code {
    [SupplyParameterFromForm]
    ParticipanteInsertarDTO ParticipanteDTO { get; set; } = new ParticipanteInsertarDTO();

    void AlSometerForm()
    {
        
    }
}
