@page "/estudiante/{Id:int}/editar"

@using AutoMapper
@using TriviaBiblicoUNAD.Shared.DTOs.Estudiante;

@inject HttpClient Htc
@inject IMapper Mapeador
@inject NavigationManager Navi

<PageTitle>Editar Estudiante</PageTitle>

<h3>EstudianteModificar</h3>

<EditForm class="row g-3" Model="ModeloEstudiante" OnValidSubmit="AlEditar">
    <DataAnnotationsValidator />
    <div class="col-md-12">
        <label for="matricula" class="form-label" placeholder="Ej.: 2020-0101">Matricula</label>
        <InputText @bind-Value="ModeloEstudiante.Matricula" class="form-control" id="matricula" />
        <small class="text-muted"><ValidationMessage For="@(()=> ModeloEstudiante.Matricula)" /></small>
    </div>
    <div class="col-md-6">
        <label for="Nombre" class="form-label" placeholder="Escriba el Nombre">Nombre</label>
        <InputText @bind-Value="ModeloEstudiante.Nombre" class="form-control" id="Nombre" />
        <small class="text-muted"><ValidationMessage For="@(()=> ModeloEstudiante.Nombre)" /></small>
    </div>
    <div class="col-md-6">
        <label for="Apllidos" class="form-label">Apllidos</label>
        <InputText @bind-Value="ModeloEstudiante.Apellidos" class="form-control" id="Apllidos" />
        <small class="text-muted"><ValidationMessage For="@(()=> ModeloEstudiante.Apellidos)" /></small>
    </div>
    <div class="col-6">
        <label for="carrera" class="form-label">Carrera</label>
        <InputSelect @bind-Value="ModeloEstudiante.Carrera" class="form-control" id="carrera">
            <option value="" disabled selected>------------------------</option>
            <option value="Ing. de Software">Ing. de Software</option>
            <option value="Medicina">Medicina</option>
            <option value="Contabilidad">Contabilidad</option>
            <option value="Odontologia">Odontologia</option>
            <option value="Mercadeo">Mercadeo</option>
        </InputSelect>
    </div>
    <div class="col-6">
        <label for="dob" class="form-label">Fecha de Nacimiento</label>
        <InputDate @bind-Value="ModeloEstudiante.FechNac" class="form-control" id="dob" />
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Crear</button>
    </div>
    <ValidationSummary />

</EditForm>

@code {
    [Parameter] public int Id {get;set;}

    EstudianteEditarDTO ModeloEstudiante = new();
    bool IsLoading = false;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (Id > 0)
        {
            ModeloEstudiante = Mapeador.Map<EstudianteEditarDTO>(await CargaEtudiante(Id));
        }
    }


    async Task<EstudianteDTO?> CargaEtudiante(int idEst)
    {
        return await Htc.GetFromJsonAsync<EstudianteDTO?>($"api/estudiantes/{idEst}");
    }


    async Task AlEditar()
    {
        IsLoading = true;
        var resultado = await Htc.PutAsJsonAsync($"api/estudiantes/{Id}", ModeloEstudiante);
        if (resultado is not null && resultado.IsSuccessStatusCode)
        {
            IsLoading = false;
            LimpiarFormulario();
            Navi.NavigateTo("estudiantes");
        }
    }

    void LimpiarFormulario()
    {
        ModeloEstudiante = null!;
        ModeloEstudiante = new();
    }

}
